<section class="premium-collections">

  </section>
  
  {% schema %}
    {
      "name": "Premium Collections",
      "settings": [
        {
            "type": "text",
            "id": "text1",
            "label": "Heading",
           
          },
          {
            "type": "image_picker",
            "id": "image1",
            "label": "Image"
          },
        {
          "id": "Collection1",
          "type": "collection",
          "label": "Collection 1"
        },
        {
            "type": "image_picker",
            "id": "image2",
            "label": "Image"
          },
          {
            "id": "Collection2",
            "type": "collection",
            "label": "Collection 2"
          },    {
            "type": "image_picker",
            "id": "image3",
            "label": "Image"
          },
          {
            "id": "Collection3",
            "type": "collection",
            "label": "Collection 3"
          },
          {
            "type": "image_picker",
            "id": "image4",
            "label": "Image"
          },
          {
            "id": "Collection4",
            "type": "collection",
            "label": "Collection 4"
          }
      ],
      "presets": [
        {
          "name": "Premium Collections",
          "category": "Collection"
        }
      ]
    }
  {% endschema %}
  