<section class="premium-collections">

  </section>
  
  {% schema %}
    {
      "name": "Premium Collections",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Premium collection"
        },
        {
          "id": "Collection 1",
          "type": "collection",
          "label": "Collection 1"
        }
      ],
      "presets": [
        {
          "name": "Premium Collections",
          "category": "Collection"
        }
      ]
    }
  {% endschema %}
  